.breadcrumbs {
  padding: 57px 0 5px 0;

  @include media-breakpoint-down-equal(sm) {
    padding: 25px 0;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    margin-right: 5px;
    transition: color 0.3s;

    &:not(:last-child){
      @media (hover:hover) {
        &:hover{
          color: $light-green;
        }
      }
    }

    &:not(:first-child) {
      margin-left: 5px;
    }

    &:last-child {
      color: $light-gray;
      pointer-events: none;
    }
  }

  &__row {
    width: 14px;
    height: 7px;
  }
}