.small-img-card {
  max-width: 248px;


  @media (hover: hover) {
    &:hover{
      cursor: pointer;
      color: $green
    }
  }

  &__img-wrapper {
    margin-bottom: 16px;
    aspect-ratio: 1/1;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
    transition: color 0.3s;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    transition: color 0.3s;
  }
}