$text3: #797c80;


$temnyy-osnovnoy: #059e8c;
$osnovnoy-2: #e31351;
$fon2: #f5fbfc;
$fon3: #eef3f7;
$grani: #cfdfe5;
$white: #fff;
$belyy2: #f7f7f7;

$ikonki-uslugi: #086358;
$marker-poiska: #ffe768;
$zatemnenie: #192224;


$dark-green: #086358;
$light-green: #1dc3b0;
$green: #2bd9bc;
$font-color: #51555a;
$background: #f5fbfc;
$logo: #364b76;
$light-gray: #bfbfbf;
$grey: #292d33;
$danger: #e31351;
$black: #000000;
$box-shadow-input: 0px 9px 11px 0px rgba(0, 0, 0, 0.1);

$logo-bg: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%)