$grey: #292d33;
$text2: #51555a;
$text3: #797c80;
$light-gray: #bfbfbf;
$osnovnoy: #1dc3b0;
$temnyy-osnovnoy: #059e8c;
$osnovnoy-2: #e31351;
$fon2: #f5fbfc;
$fon3: #eef3f7;
$grani: #cfdfe5;
$white: #fff;
$belyy2: #f7f7f7;
$logo: #364b76;
$ikonki-uslugi: #086358;
$marker-poiska: #ffe768;
$zatemnenie: #192224;

$danger: #ac0007;
$black: #000000;
$box-shadow-input: 0px 9px 11px 0px rgba(0, 0, 0, 0.1);