$max-down-index: -999;
$second-down-index: -2;
$decor-index: -1;
$zero-index: 0;
$first-index: 1;
$second-index: 2;
$third-index: 3;
$fourth-index: 4;
$fifth-index: 5;
$header-index: 9;
$sixth-index: 6;
$seventh-index: 7;
$max-index: 9999;
