@import '@/styles/ui/check-box';
@import '@/styles/ui/selection-button-group';

.appointment {
  max-width: 608px;
  width: 100%;
  border: 1px solid $grani;
  border-radius: 26px;
  padding: 66px 80px 118px 80px;
  background: $white;
  position: fixed;
  z-index: 100;

  @include media-breakpoint-down-equal(xs) {
    padding: 25px;
  }

  @include media-breakpoint-down(xxs) {
    max-width: 320px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    margin-bottom: 32px;

    @include media-breakpoint-down-equal(xs) {
      font-size: 26px;
    }
  }
}

.appointment-form {
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media-breakpoint-down-equal(xs) {
      flex-direction: column;
      align-items: start;
    }

    .just-validate-error-label {
      position: absolute;
      bottom: -7px;
      left: 0;
      font-size: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    label {
      position: relative;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;

      span {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 120%;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 18px;
    height: 17px;
    z-index: 1;
    pointer-events: none;
    cursor: pointer;

    @include media-breakpoint-down-equal(xs) {
      right: auto;
      left: 245px;
      top: 35px;
    }
  }

  &__text-input {
    height: 40px;
    border: 1px solid $grani;
    border-radius: 4px;
    width: 272px;
    padding: 0 12px;
    background: $white;

    input {
      width: 100%;
      height: 100%;
    }
  }

  &__slide-button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    @include media-breakpoint-down-equal(xs) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__slide-button-wrapper {
    margin-right: 50px;
  }

  &__filial-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }

  &__button-group {
    position: relative;
    box-shadow: inset 0 0 3px 0 rgba(13, 61, 46, 0.4);
    border-radius: 20px;
    border: 1px solid $grani;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
  }
  &__container {
    position: relative;
    display: inline-flex;
  }

  &__button {
    background: transparent;
    z-index: 2;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    height: 38px;
    border-radius: 16px;
    color: $grey;
    transition: color 0.5s;

    @include media-breakpoint-down-equal(xs) {
      font-size: 12px;
    }

    &_active {
      color: white;
      background: $green;
    }
  }

  &__text-area-label {
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 10px;

    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__text-area {
    width: 100%;
    aspect-ratio: 2.8/1;
    resize: none;
    border: 1px solid $grani;
    border-radius: 4px;
  }

  &__bottom-block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media-breakpoint-down-equal(xs) {
      flex-direction: column;
      align-items: start;
    }

    .just-validate-error-label {
      position: absolute;
      bottom: -15px;
      left: 0;
    }
  }

  &__button-wrapper {
    max-width: 160px;
    flex: 1 1 160px;
  }
}

.air-datepicker-global-container {
  z-index: 10002 !important; /* Или выше, в зависимости от z-index Fancybox */
}

.air-datepicker--navigation {
  background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
  color: $black;
  font-weight: 700;
}

.air-datepicker-nav--title {
  i {
    font-weight: 700;
    color: $black !important;
  }
}

.air-datepicker-nav--action {
  path {
    stroke: black !important;
  }
}

.air-datepicker-body--day-name {
  color: black !important;
  font-weight: 700;
}

.air-datepicker-cell.-selected- {
  color: $green !important;
  background: transparent !important;
}

.f-button {
  top: 24px !important;
  right: 24px !important;

  svg {
    stroke: $black !important;
  }
}
