.triple-slider {
  position: relative;
  padding: 0 34px;

  &.swiper {
    margin-left: 34px;
    margin-right: 34px;
    max-width: 1108px;
  }

  &__button-prev {
    position: absolute;
    left: 8px;
    top: 46.5%;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &_position0 {
      left: 0;
    }

    svg {
      @media (hover: hover) {
        &:hover {
          stroke: #1dc4b0;
          fill: #1dc3b0;
        }
      }
    }
  }

  &__button-prev-icon {
    width: 32px;
    height: 32px;
    transition:
      fill 0.3s,
      stroke 0.3s;
  }

  &__button-next {
    position: absolute;
    right: 8px;
    top: 46.5%;
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    cursor: pointer;

    &_position0 {
      right: 0;
    }

    svg {
      @media (hover: hover) {
        &:hover {
          stroke: #1dc4b0;
          fill: #1dc3b0;
        }
      }
    }
  }

  &__button-next-icon {
    width: 32px;
    height: 32px;
    transition:
      fill 0.3s,
      stroke 0.3s;
  }
}
