.feedback {
  padding: 67px 0 113px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    flex-wrap: wrap;

    &_wide {
      gap: 40px;

      @include media-breakpoint-down-equal(l) {
        column-gap: 90px;
      }

      @include media-breakpoint-down-equal(md) {
        gap: 52px;
      }
    }

    @include media-breakpoint-down-equal(sm) {
      flex-direction: column;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 24px;
    height: 48px;
    border-radius: 16px;
    color: $white;
    background: $green;
    display: flex;
    align-items: center;
    transition: background 0.3s;

    @media (hover: hover) {
      &:hover {
        background: $light-green;
      }
    }
  }
}

.feedback-card {
  background: $white;
  padding: 27px 32px;
  border-radius: 16px;
  flex: 1 1 344px;
  min-width: 344px;
  box-shadow: 0 4px 20px 0 rgba(26, 57, 63, 0.1);

  @include media-breakpoint-down-equal(sm) {
    flex: 0;
  }

  &_short {
    max-width: 344px;

    @include media-breakpoint-down-equal(sm) {
      max-width: 100%;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.64;
    margin-bottom: 18px;
    @include multiLineTruncate(5);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    background: transparent;
    display: flex;
    align-items: center;
    color: $green;
    gap: 8px;
  }

  &__row-icon {
    width: 19px;
    height: 10px;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: $text3;
  }

  &__text-dialog {
    @include media-breakpoint-down-equal(xs) {
      font-size: 12px;
    }

    span {
      display: block;
      margin-bottom: 25px;
      font-weight: 700;
    }
  }
}
