
.work-schedule {

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    margin-bottom: 46px;

    @include media-breakpoint-down(lg) {
      font-size: calc(
              22px + (48 - 22) * ((100vw - 375px) / (1620 - 375))
      );;
    }
  }

  &__button-block {
    max-width: 236px;
    margin-bottom: 32px;
  }

  &__content-wrapper {
    background: $fon2;

    &:nth-child(2n) {
      background: $white;
    }
  }

  &__content {
    display: flex;
    column-gap: 24px;
    position: relative;
    padding-top: 63px;
    padding-bottom: 77px;

    @include media-breakpoint-down(lg) {
      column-gap: 0;

      padding-top: calc(
              22px + (63 - 22) * ((100vw - 375px) / (1620 - 375))
      );
      padding-bottom: calc(
              22px + (77 - 22) * ((100vw - 375px) / (1620 - 375))
      );
    }

  }


}

.item-service {
  padding-bottom: 40px;


  &__sidebar {
    max-width: 264px;
    min-width: 264px;
    
    @include media-breakpoint-down(sm) {
      min-width: 200px;
    }

    @include media-breakpoint-down-equal(xs) {
      min-width: 150px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    height: 80px;

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }

    @include media-breakpoint-down-equal(xs) {
      font-size: 18px;
    }
  }

  &__employer {
    margin-top: 5px;
    height: 66px;
  }

  &__employer-name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.17;
    margin-bottom: 6px;
    @include media-breakpoint-down(lg) {
      font-size: calc(
              12px + (17 - 12) * ((100vw - 375px) / (1620 - 375))
      );
    }
  }

  &__employer-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    @include multiLineTruncate(2);

    @include media-breakpoint-down-equal(xs) {
      font-size: 12px;
    }
  }

  &__slider {
    margin: 8px 42px 0 58px;
    max-width: 766px;

    @include media-breakpoint-down-equal(md) {
      margin: 8px 20px 0 42px;
    }
    @include media-breakpoint-down-equal(xs) {
      margin: 8px 20px 0 20px;
    }

    @include media-breakpoint-down-equal(xxs) {
      margin: 8px 10px 0 10px;
    }
  }

  &__button-prev {
    position: absolute;
    top: 45px;
    left: 300px;
    width: 42px;
    height: 96px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(l) {
      left: 285px;
    }
    @include media-breakpoint-down(md) {
      left: 250px;
    }

    @include media-breakpoint-down-equal(sm) {
      left: 153px;
    }
    @include media-breakpoint-down(xxs) {
      left: 140px;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__button-prev-icon {
    width: 32px;
    height: 32px;
  }

  &__button-next {
    position: absolute;
    top: 45px;
    right: 40px;
    width: 42px;
    height: 96px;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;

    @include media-breakpoint-down(l) {
      right: 0;
    }


    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__button-next-icon {
    width: 32px;
    height: 32px;
  }
}

.slide {

  &__date-wrapper {
    height: 72px;
  }

  &__date-day{
    margin-right: 6px;

    @include media-breakpoint-down-equal(sm) {
      margin-right: 0;
      display: block;
      width: 100%;
     margin-left: 10px;
    }
  }

  &__date {
    font-size: 14px;

    @include media-breakpoint-down-equal(xxs) {
      font-size: 12px;
    }
  }

  &__times-wrapper {
    margin-top: 16px;
    margin-bottom: 6px;
    height: 66px;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
  }

  &__day-week {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.17;
    display: block;
    margin-bottom: 6px;

    @include media-breakpoint-down-equal(xs) {
      font-size: 12px;
    }
  }
}