.list-services {
  padding-top: 59px;
  padding-bottom: 148px;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
    margin-bottom: 30px;
  }

  &__list {

    -webkit-column-width: 75px;
    -moz-column-width: 75px;
    column-width: 20svb;

    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;



  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;

    @include media-breakpoint-down-equal(sm) {
      font-size: 16px;
    }
  }
}