.list-services {
  padding-top: 59px;
  padding-bottom: 148px;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
    margin-bottom: 30px;

    @include media-breakpoint-down-equal(sm) {
      font-size: 22px;
    }
  }

  &__list {
    -webkit-column-width: 75px;
    -moz-column-width: 75px;
    column-width: 75px;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;

    @include media-breakpoint-down-equal(md) {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
    @include media-breakpoint-down-equal(sm) {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }

    @include media-breakpoint-down-equal(xs) {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;

    @include media-breakpoint-down-equal(sm) {
      font-size: 16px;
    }

    @include media-breakpoint-down-equal(xs) {
      font-size: 14px;
    }
  }
}