.popular-services {
  padding-top: 162px;

  @include media-breakpoint-down(l) {
    padding-top: calc(50px + (162 - 50) * ((100vw - 375px) / (1920 - 375)));
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 62px;

    @include media-breakpoint-down-equal(sm) {
      display: block;
    }

    @include media-breakpoint-down-equal(xs) {
      margin-bottom: 30px;
    }
  }

  &__title {
    max-width: 490px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;

    @include media-breakpoint-down-equal(md) {
      font-size: 36px;
    }

    @include media-breakpoint-down-equal(sm) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down-equal(xs) {
      font-size: 24px;
    }
  }

  &__button-block {
    display: flex;
    column-gap: 20px;

    @include media-breakpoint-down-equal(md) {
      flex-direction: column;
      row-gap: 20px;
    }

    @include media-breakpoint-down-equal(sm) {
      flex-direction: row;
    }

    @include media-breakpoint-down-equal(xs) {
      flex-direction: column;
    }
  }

  &__button-service {
    display: flex;
    justify-content: center;
    border: 2px solid $light-green;
    border-radius: 16px;
    padding: 11px 24px;
    width: 100%;
    max-width: 203px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    flex: 1;
    background: $white;
    @include singleLineTruncate();
    transition:
      background 0.3s,
      color 0.3s;

    @media (hover: hover) {
      &:hover {
        color: $light-green;
      }
    }

    @include media-breakpoint-down-equal(xs) {
      padding: 9px 15px;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &__button-price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    border-radius: 16px;
    padding: 11px 30px 11px 30px;
    width: 100%;
    max-width: 215px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    background: $light-green;
    flex: 1;
    transition: background 0.3s;
    @include singleLineTruncate();

    @media (hover: hover) {
      &:hover {
        background: #2bd9bc;
      }
    }

    @include media-breakpoint-down-equal(xs) {
      padding: 9px 15px;
      font-size: 14px;
      line-height: 1.3;
      max-width: 203px;
    }
  }
}
