%img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo {
  margin-top: 163px;
  padding-top: 66px;
  padding-bottom: 104px;
  background: $fon3;
  position: relative;

  @include media-breakpoint-down(l) {
    margin-top:  calc(
            50px + (163 - 50) * ((100vw - 375px) / (1620 - 375))
    );
    padding-bottom:  calc(
            50px + (104 - 50) * ((100vw - 375px) / (1620 - 375))
    );
  }

  @include media-breakpoint-down-equal(md) {
    overflow: hidden;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    margin-bottom: 38px;

    @include media-breakpoint-down(l) {
      font-size: calc(
                      24px + (48 - 24) * ((100vw - 375px) / (1620 - 375))
      );
    }
  }

&__collage-wrapper{
  position: relative;
  z-index: 1;
}

  &__collage {
    max-width: 536px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    overflow: hidden;

    @include media-breakpoint-down-equal(sm) {
      margin: 0 auto;
    }
  }

  &__collage-item-big {
    max-width: 358px;
    aspect-ratio: 1/1;

    img {
      @extend %img
    }
  }

  &__collage-item-small {
    max-width: 178px;
    aspect-ratio: 1/1;
    background: $white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      @extend %img
    }
  }

  &__instagram-icon {
    width: 64px;
    height: 64px;
  }

  &__collage-top {
    display: flex;
  }

  &__collage-bottom {
    display: flex;
  }

  &__collage-item-small-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: $green;
  }

  &__collage-item-small-title {
    font-weight: 700;
    font-size: 30px;
  }

  &__like-icon {
    width: 28px;
    height: 28px;
  }

  &__row-icon{
    width: 17px;
    height: 8px;
  }

  &__img-wrapper{
    position: absolute;
    right: 35%;
    transform: translateX(78%);
    top: -126px;
    z-index: 0;
    max-width: calc(
            500px + (818 - 500) * ((100vw - 375px) / (4000 - 1620))
    );
    width: 100%;
    aspect-ratio: 1.466/1;

    @include media-breakpoint-down-equal(l) {
      right: 50px;
      transform: translateX(0);
      max-width: 818px;
    }

    @include media-breakpoint-down(l) {
      right: 0;
      max-width: 700px;
    }

    @include media-breakpoint-down-equal(lg) {
      max-width: 500px;
    }

    @include media-breakpoint-down-equal(md) {
      max-width: 400px;
      top: 0;
      right: -100px
    }

    @include media-breakpoint-down-equal(sm) {
      display: none;
    }

    img{
      width: 100%;
      height: 100%;

    }
  }

  &__heart-large-icon{
    width: 173px;
    height: 164px;
    position: absolute;
    right: 145px;
    bottom: 134px;
  }

  &__heart-big-icon{
    width: 98px;
    height: 94px;
    position: absolute;
    right: 429px;
    bottom: 137px;
    transform: rotate(30deg);
  }

  &__heart-mid-icon{
    width: 51px;
    height: 51px;
    position: absolute;
    right: 572px;
    bottom: 97px;
    transform: rotate(30deg);
  }

  &__heart-small-icon{
    width: 31px;
    height: 31px;
    position: absolute;
    right: 680px;
    bottom: 122px;
    transform: rotate(-30deg);
  }
}

