.our-mission {
  padding-top: 68px;
  padding-bottom: 171px;

  &__description {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.38;
    margin-bottom: 19px;
    max-width: 768px;
    margin-left: 40px;

    @include media-breakpoint-down-equal(sm) {
      margin-left: 0;
    }
  }

  &__sub-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.64;
    margin-bottom: 53px;
    max-width: 768px;
    margin-left: 40px;

    @include media-breakpoint-down-equal(sm) {
      margin-left: 0;
    }
  }

  &__img-wrapper {
    max-width: 824px;
    aspect-ratio: 1.514/1;
    margin-bottom: 51px;
    margin-left: 40px;

    @include media-breakpoint-down-equal(sm) {
      margin-left: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
    margin-bottom: 21px;
    margin-left: 40px;

    @include media-breakpoint-down-equal(sm) {
      margin-left: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.64;
    max-width: 824px;
    margin-bottom: 20px;
    margin-left: 40px;

    @include media-breakpoint-down-equal(sm) {
      margin-left: 0;
    }
  }

  &__slider-title {
    margin-bottom: 35px;
    margin-left: 40px;
    padding-top: 26px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;

    @include media-breakpoint-down-equal(sm) {
      margin-left: 0;
    }
  }

  &__slider-wrapper {
    position: relative;
  }

  &__slide {
    width: 100%;
    aspect-ratio: 1/1.413;
    box-shadow: 0 4px 20px 0 rgba(26, 57, 63, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
