.price {
  padding-bottom: 91px;

  &__content {
    display: flex;
    column-gap: 40px;

    @include media-breakpoint-down-equal(md) {
      flex-direction: column;
    }
  }

  &__list-block {
    padding: 35px 56px 55px 56px;
    background: $logo-bg;
    max-width: 536px;
    min-width: 500px;
    box-shadow: inset 0 0 10px 0 rgba(49, 53, 54, 0.05);
    border-radius: 8px;

    @include media-breakpoint-down-equal(md) {
      max-width: 100%;
      min-width: 100%;
    }

    @include media-breakpoint-down-equal(xs) {
      padding: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
    margin-bottom: 7px;

    @include media-breakpoint-down-equal(xs) {
      font-size: 18px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 19px;
  }

  &__list {
    padding-top: 12px;
    border-top: 1px solid $grani;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__item-text {
    max-width: 344px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.41;

    @include media-breakpoint-down-equal(xs) {
      font-size: 12px;
      max-width: 300px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.38;
    color: $green;
    max-width: 536px;
    margin-top: 36px;

    @include media-breakpoint-down-equal(xs) {
      font-size: 18px;
    }
  }
}
