.service-slider {
  padding-bottom: 162px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    @include media-breakpoint-down-equal(sm) {
      flex-direction: column;
      row-gap: 25px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.16;
  }

  &__button-block {
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background 0.3s,
      color 0.3s;

    &_fill {
      background: $green;
      color: $white;
      border-radius: 16px;
      width: 118px;
      height: 40px;
      margin-left: 4px;

      @media (hover: hover) {
        &:hover {
          background: $light-green;
        }
      }
    }

    &_border {
      margin-right: 23px;

      @media (hover: hover) {
        &:hover {
          color: $light-green;
        }
      }
    }
  }
}
