@mixin list-counter($main-item, $depth) {
  $counter-name: unquote('item-' + $depth);

  & > ol {
    counter-reset: #{$counter-name};

    & > li {
      &::before {
        content: $main-item '.' counter(#{$counter-name}) '. ';
      }

      @if $depth > 1 {
        @include list-counter($main-item '.' counter(#{$counter-name}), $depth - 1);
      }
      counter-increment: #{$counter-name};
    }
  }

  & > ul {
    & > li {
      &::before {
        align-self: center;
        margin: 0 10px 0 0;
      }

      ol {
        counter-reset: item-#{$depth};

        & > li {
          &::before {
            content: counters(item-#{$depth}, '.') '.';
            background: none;
            box-shadow: none;
          }
          counter-increment: item-#{$depth};

          &:has(ul),
          &:has(ol) {
            counter-increment: item-#{$depth} 0;
          }
        }
      }
    }
  }
}
