@import '@/styles/modules/reset';
@import '@/styles/vars/fonts';
@import '@/styles/vars/colors';
@import '@/styles/mixins/font-style';
@import '@/styles/mixins/media';
@import '@/styles/vars/z-index';
@import '@/styles/fonts/fontface';
@import '@/styles/base/header';
@import '@/styles/base/footer';
@import '@/styles/base/sidebar';
@import '@/styles/ui/input';

img {
  display: block;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 254px 0 554px;

  @include media-breakpoint-down-equal(l) {
    padding: 0 254px;
  }

  @include media-breakpoint-down-equal(lg) {
    padding: 0 15px;
  }

  @include media-breakpoint-down(xs) {
    padding: 0 15px;
  }
}

.container-slider {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  left: 125px;

  @include media-breakpoint-down-equal(l) {
    left: 0;
  }
}

.container-work-time {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  left: 125px;

  @include media-breakpoint-down-equal(l) {
    left: 40px;
  }

  @include media-breakpoint-down(l) {
    left: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 95px;

  @include media-breakpoint-down-equal(l) {
    margin-top: 75px;
  }
}

.main {
  flex: 1 1 auto;
}

body {
  color: $grey;
}
