@import "@/styles/base/burger-icon";
@import "@/styles/ui/dark-background";

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 96px;
  border-bottom: 1px solid $light-gray;
  z-index: 9999;
  background: $white;

  @include media-breakpoint-down-equal(l) {
    max-height: 75px;
  }

  @include media-breakpoint-down-equal(xs) {
    justify-content: space-between;
  }

  &__logo-wrapper {
    width: 299px;
    height: 100%;
    display: flex;
    padding-top: 16px;
    padding-left: 37px;
    background: $logo-bg;
    border-right: 1px solid $light-gray;

    @include media-breakpoint-down-equal(l) {
      width: 200px;
      height: 75px;
    }

    @include media-breakpoint-down-equal(xs) {
      padding-left: 25px;
      width: 150px;
    }

    @include media-breakpoint-down-equal(xxs) {
      padding-left: 0;
      width: 110px;
    }

    img {
      @include media-breakpoint-down-equal(l) {
        width: 125px;
        height: 50px;
        object-fit: contain;
      }

      @include media-breakpoint-down-equal(sm) {
        width: 100px;
      }
    }
  }

  &__burger {
    display: none;
    margin-left: 30px;

    @include media-breakpoint-down-equal(l) {
      display: block;
    }

    @include media-breakpoint-down-equal(xs) {
      flex: 1;
      margin-left: 15px;
    }
  }

  &__search {
    flex: 1;
    position: relative;


    @include media-breakpoint-down-equal(sm) {
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
      width: 90vw;
      border: 1px solid $black;
      opacity: 0;
      pointer-events: none;
      z-index: -999;
      transition: opacity 0.3s;
    }

    &_open {
      @include media-breakpoint-down-equal(sm) {
        opacity: 1;
        pointer-events: auto;
        z-index: 99999;
      }
    }
  }


  &__search-close {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    stroke: black;

    @include media-breakpoint-down-equal(sm) {
      opacity: 1;
    }
  }

  &__search-icon-wrapper {
    flex: 1;
    display: none;

    @include media-breakpoint-down-equal(sm) {
      display: flex;
      justify-content: end;
      cursor: pointer;
      margin: 0 10px;
    }
  }

  &__icon-search-icon {
    width: 32px;
    height: 32px;
  }

  &__search-icon {
    position: absolute;
    top: 33px;
    left: 41px;
    width: 30px;
    height: 30px;

    @include media-breakpoint-down-equal(l) {
      top: 14px;
      left: 21px;
    }

    @include media-breakpoint-down-equal(sm) {
      width: 20px;
    }
  }

  &__address-block {
    display: flex;
    padding: 19px 60px 0 43px;
    background: $background;
    height: 100%;
    column-gap: 38px;
    font-weight: $--400;
    font-size: 14px;
    line-height: 1.14;
    color: $font-color;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;

    span {
      font-weight: $--600;
      padding-bottom: 4px;
    }

    @include media-breakpoint-down-equal(lg) {
      padding: 19px 23px 19px 23px;
      column-gap: 20px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    background: $background;
    padding: 23px 39px;

    @include media-breakpoint-down-equal(lg) {
      padding: 17px 20px;
    }

    @include media-breakpoint-down-equal(l) {
      padding: 13px 20px;
    }

    @include media-breakpoint-down-equal(xs) {
      padding: 13px 5px 13px 5px;
    }
  }

  &__number-phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.06em;
    color: $grey;

    @include media-breakpoint-down-equal(lg) {
      font-size: 14px;
    }

    @include media-breakpoint-down-equal(xxs) {
      font-size: 12px;
    }
  }

  &__call-back {
    line-height: 1.5;
    font-weight: 700;
    font-size: 16px;
    color: $danger;
    background: transparent;
    padding: 0;

    @include media-breakpoint-down-equal(xs) {
      font-size: 14px;
    }

    @include media-breakpoint-down-equal(xxs) {
      font-size: 12px;
    }
  }
}